<!DOCTYPE html>
<html lang="ru" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Start HTML template</title>
    <meta name="description" content="Description of the project">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <!-- Chrome, Firefox OS and Opera-->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone-->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari-->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-top">
          <div class="menu-burger visible-xs"><a href="#" data-target="main-menu" class="menu-burger_btn"><span></span><span></span><span></span></a></div>
          <div class="logo"><a href="/">
              <picture><img src="img/logo.png" alt="logo" title="logo" class="img-responsive">
              </picture></a></div>
          <div class="header-menu-contacts hidden-xs"></div><a href="#" class="button enroll"><i class="fa fa-phone visible-xs visible-sm"></i><span class="visible-md visible-lg">Записаться</span></a>
        </div>
        <div class="navbar hidden-xs"></div>
      </div>
      <div id="main-menu" class="menu"><a href="#loginForm" class="login"><i class="fa fa-user"></i><span class="visible-xs visible-md visible-lg">Личный кабинет </span></a>
        <div class="menu-list"><a href="#" class="menu-list_link">О компании</a><a href="/team.html" class="menu-list_link">Специалисты</a><a href="#" class="menu-list_link">Направления</a><a href="#" class="menu-list_link">Фотогалерея</a><a href="#" class="menu-list_link">Вопросы и ответы</a><a href="#" class="menu-list_link">Отзывы</a><a href="#" class="menu-list_link">Новости и акции</a><a href="#" class="menu-list_link">Вакансии</a><a href="#" class="menu-list_link">Контакты</a></div>
        <div class="menu-contacts">
          <div class="menu-contacts_item"><span class="menu-contacts_icon"><i class="fa fa-map-marker"></i></span>
            <h3 class="h3">г. Каменск-Уральский<br>ул. Каменская, 25</h3><a href="#" class="menu-contacts_link">Показать на карте	</a>
          </div>
          <div class="menu-contacts_item"><span class="menu-contacts_icon"><i class="fa fa-phone"></i></span>
            <h3 class="h3">+7 (3439) 399-880 </h3><a href="#backCallForm" class="menu-contacts_link">Перезвоните мне</a>
          </div>
        </div>
      </div>
    </header>
        <section class="section page-title">
          <div class="container">
            <div class="row hidden-xs">
              <div class="col-xs-12">
                <ul class="breadcrumbs">
                  <li><a href="/">Главная</a><span class="icon"><i class="fa fa-angle-right"></i></span></li>
                  <li class="active">Взрослое поликлиническое отделение</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <h1 class="h1">Взрослое поликлиническое отделение</h1>
              </div>
            </div>
          </div>
        </section>
    <section id="activity_header" class="section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-3"><img src="img/activities/glavvrach.png" alt="alt glavvrach" class="leader-img"></div>
          <div class="col-xs-12 col-sm-9 col-md-6">
            <h2 class="h2 leader-name">Иванова Елена Михайловна</h2>
            <p class="leader-work">Заведующая взрослым поликлиническим отделением - врач высшей квалификационной категории, кандидат медицинских наук</p>
            <p class="leader-time"><b>Режим работы: 8:00 -16:00, понедельник - пятница<br>Телефон секретаря: +7 (846) 975-30-50</b></p>
          </div>
        </div>
      </div>
    </section>
    <section id="activity_works" class="section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="h2 section-title">Состав отделения</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div id="activityWorksSearch">
          <div class="row">
            <div class="col-xs-12">
              <form action="#" class="form search-form">
                <input type="text" v-model="search">
                <button type="submit"><i class="fa fa-search"></i><span class="hidden-xs">Найти</span></button>
              </form>
            </div>
          </div>
          <div class="row activity-item">
            <div v-for="specialist in filteredRetirements" class="col-xs-12 col-md-4"><a href="#" class="activity-activity activity-button"><span>{{ specialist }}</span></a></div>
          </div>
          <div v-if="!filteredRetirements.length" class="row">
            <div class="col-xs-12">
              <p class="nothing">Ничего не найдено</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="activity_banner" class="section">
      <div class="container">
        <div style="background-image:url(img/doctor.png)" class="row with-bg-img">
          <div class="col-sm-6 col-md-8">
            <div class="activity-banner">
              <h3 class="h3 activity-banner-title">Доверьте своё здоровье лучшим специалистам</h3>
              <p class="activity-banner-text">Оставьте заявку и наш администратор бесплатно проконсультирует Вас и запишет к нужному специалисту</p><a href="#" class="button">Оставить заявку</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="news" class="section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="section-title">Новости и акции</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="main_news-item">
              <p class="main_news-item_date">30 октября 2017 г.</p>
              <h3 class="h3 main_news-item_title"><a href="#">Конкурс "Лечение как приключение"</a></h3>
              <p class="main_news-item_text">Если вспоминать, каких докторов мы знаем, нефролога называют не сразу – стучишься к нему не каждый день и даже не каждый год.</p>
            </div>
          </div>
          <div class="col-xs-12 hidden-xs col-sm-6 col-md-4 col-lg-3">
            <div class="main_news-item">
              <p class="main_news-item_date">30 октября 2017 г.</p>
              <h3 class="h3 main_news-item_title"><a href="#">Конкурс "Лечение как приключение"</a></h3>
              <p class="main_news-item_text">Если вспоминать, каких докторов мы знаем, нефролога называют не сразу – стучишься к нему не каждый день и даже не каждый год.</p>
            </div>
          </div>
          <div class="col-xs-12 visible-md visible-lg col-md-4 col-lg-3">
            <div class="main_news-item">
              <p class="main_news-item_date">30 октября 2017 г.</p>
              <h3 class="h3 main_news-item_title"><a href="#">Конкурс "Лечение как приключение"</a></h3>
              <p class="main_news-item_text">Если вспоминать, каких докторов мы знаем, нефролога называют не сразу – стучишься к нему не каждый день и даже не каждый год.</p>
            </div>
          </div>
          <div class="col-xs-12 visible-lg col-lg-3">
            <div class="main_news-item">
              <p class="main_news-item_date">30 октября 2017 г.</p>
              <h3 class="h3 main_news-item_title"><a href="#">Конкурс "Лечение как приключение"</a></h3>
              <p class="main_news-item_text">Если вспоминать, каких докторов мы знаем, нефролога называют не сразу – стучишься к нему не каждый день и даже не каждый год.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12"><a href="#" class="button main_news-all">Все новости<span><i class="fa fa-angle-right"></i></span></a></div>
        </div>
      </div>
    </section>
    <footer id="footer" class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="logo"><a href="/">
                <picture><img src="img/logo.png" alt="logo" title="logo" class="img-responsive">
                </picture></a></div>
            <p class="copyright">© 2013 Медико-фармацевтический центр Рубин</p>
          </div>
          <div class="col-sm-6 hidden-xs col-md-4 col-lg-3">
            <div class="footer-contacts"><a href="tel:+7985656565" class="footer-contacts_tel">+7 (3439) 399-880</a>
              <p class="footer-contacts_text">623412, г. Каменск-Уральский,<br>ул. Каменская д. 25</p>
              <p class="footer-contacts_text">Часы работы центра с пн-пт:<br>c 7.00 - 20.00, с сб-вс: c 8.00 - 20.00</p><a href="mailto:info@mfcrubin.ru" class="footer-contacts_mail">info@mfcrubin.ru</a>
            </div>
          </div>
          <div class="col-md-4 visible-md visible-lg col-lg-3">
            <div class="footer-menu"><a href="#" class="footer-menu_item">О компании</a><a href="#" class="footer-menu_item">Фотогаллерея</a><a href="#" class="footer-menu_item">Команда</a><a href="#" class="footer-menu_item">Вопросы и ответы</a><a href="#" class="footer-menu_item">Услуги</a><a href="#" class="footer-menu_item">Вакансии</a><a href="#" class="footer-menu_item">Клиенты</a></div>
          </div>
          <div class="col-lg-3 visible-lg">
            <div class="footer-social"><a href="#" id="facebook" class="footer-social_item"><i class="fa fa-facebook"></i></a><a href="#" id="vk" class="footer-social_item"><i class="fa fa-vk"></i></a><a href="#" id="odnoklassniki" class="footer-social_item"><i class="fa fa-odnoklassniki"></i></a></div>
          </div>
        </div>
      </div>
    </footer>
    <link rel="stylesheet" href="css/main.min.css">
    <script src="js/scripts.min.js"></script>
    <script src="js/_activity.min.js"></script>
  </body>
</html>